{% raw -%}
{% extends "base.html" %}
{% load compress static %}
{% block javascript %}
  {% compress js %}
    <script defer src="{% static 'js/scripts.js' %}"></script>
    <script defer src="{% static 'js/htmx.min.js' %}"></script>
  {% endcompress %}
{% endblock javascript %}
{% block content %}
  <nav class="container">
    <ul>
      <li>
        <strong>Brand</strong>
      </li>
    </ul>
    <ul>
      <li>
        <a href="{% url 'app:index' %}">Home</a>
      </li>
      <li>
        <a href="{% url 'users:logout' %}" role="button">Logout</a>
      </li>
    </ul>
  </nav>
  <main class="container">
    {% block content_app %}
    {% endblock content_app %}
  </main>
{% endblock content %}
{%- endraw %}
