{% load static i18n compress tailwind_cli %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
        Project
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="project" />
    <meta name="author" content="Josef Erben" />
    <link rel="icon" href="{% static 'favicon.ico' %}" />
    {% block css %}
      {% compress css %}
        {% tailwind_css %}
      {% endcompress %}
    {% endblock css %}
    {% block javascript %}
      {% compress js %}
        <script defer src="{% static 'js/scripts.js' %}"></script>
      {% endcompress %}
    {% endblock javascript %}
  </head>
  <body class="bg-gray-50">
    {% block content %}
    {% endblock content %}
  </body>
</html>
