{% raw %}{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

  {% get_providers as socialaccount_providers %}

  {% if socialaccount_providers %}
    <p>{% blocktrans with site.name as site_name %}Please sign in with one
      of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
      for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

    <div class="socialaccount_ballot">

      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>

      <div class="login-or">{% trans 'or' %}</div>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

  {% else %}
  {% endif %}
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <img class="mx-auto w-auto h-12" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&amp;shade=600" alt="Your Company">
    <h2 class="mt-6 text-3xl font-bold tracking-tight text-center text-gray-900">Sign in to your account</h2>
    <p class="mt-2 text-sm text-center text-gray-600">
      Or
      <!-- space -->
      <a href="{% url 'account_signup' %}" class="font-medium text-indigo-600 hover:text-indigo-500">sign up</a>
    </p>
  </div>
  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="py-8 px-4 bg-white shadow sm:px-10 sm:rounded-lg">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form }}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="btn-link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <button class="btn-primary" type="submit">{% trans "Sign In" %}</button>
      </form>
    </div>
  </div>

{% endblock %}
{%- endraw %}
