{% raw %}{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <img class="mx-auto w-auto h-12" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&amp;shade=600" alt="Your Company">
    <h2 class="mt-6 text-3xl font-bold tracking-tight text-center text-gray-900">Create an account</h2>
    <p class="mt-2 text-sm text-center text-gray-600">
      Or
      <!-- space -->
      <a href="{% url 'account_login' %}" class="font-medium text-indigo-600 hover:text-indigo-500">log in</a>
    </p>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="py-8 px-4 bg-white shadow sm:px-10 sm:rounded-lg">
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form }}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="mt-8 btn-primary" type="submit">{% trans "Sign Up" %}</button>
      </form>
    </div>
  </div>

{% endblock %}
{%- endraw %}
