{% raw -%}
{% extends "website/base.html" %}
{% load static i18n %}
{% block content_website %}
  <main class="container">
    <article>
      <h1>Privacy policy</h1>
      <section>
        <h2>Information We Collect</h2>
        <p>
          We use Plausible Analytics to collect information about how you use our blog, such as which pages you visit and how long you stay on each page. This information is anonymous and does not identify you personally.
        </p>
        <p>
          If you choose to leave a comment on our blog, we may collect your name and email address. This information will only be used to respond to your comment and will not be shared with any third-party without your consent.
        </p>
      </section>
     <section>
        <h2>How We Use Your Information</h2>
        <p>
          We use the information we collect to improve our blog and provide a better user experience. We do not sell, trade, or rent your personal information to anyone.
        </p>
        <p>
          We may use your email address to send you updates about our blog or promotions, but only if you have given us permission to do so.
        </p>
      </section>
      <section>
        <h2>How We Protect Your Information</h2>
        <p>
          We take reasonable precautions to protect your personal information from unauthorized access, disclosure, alteration, or destruction. We use industry-standard security measures to keep your information safe.
        </p>
        <p>
          However, no method of transmission over the internet or electronic storage is 100% secure, and we cannot guarantee absolute security.
        </p>
      </section>
      <section>
        <h2>Your Rights</h2>
        <p>
          You have the right to request access to, correction of, or deletion of your personal information that we have collected. You also have the right to withdraw your consent for us to use your personal information at any time.
        </p>
        <p>
          If you have any questions or concerns about your personal information, please contact us at {{ cookiecutter.email }}.
        </p>
      </section>
      <section>
        <h2>Updates</h2>
        <p>
          This privacy policy is subject to change without notice and was last updated on 11.04.2023. We encourage you to review this policy regularly to stay informed about our privacy practices.
        </p>
      </section>
    </article>
  </main>
{% endblock content_website %}
{%- endraw %}
