<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
    }
    a {
      color: #3498db;
      text-decoration: none;
    }
    ul {
      padding-left: 20px;
    }
    </style>
  </head>
  <body>
    {% block content %}
    {% endblock content %}
    <p>
      {% comment %} TODO rename project {% endcomment %}
      Sent by <a href="https://www.project.com">project.com</a>
    </p>
  </body>
</html>
