{% raw -%}
{% extends "base.html" %}
{% block title %}
  Log in
{% endblock title %}
{% block content %}
  <div class="flex justify-center items-center py-12 px-4 min-h-full sm:px-6 lg:px-8">
    <div class="space-y-8 w-full max-w-md">
      <div>
        <img class="mx-auto w-auto h-12"
             src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
             alt="Your Company">
        <h2 class="mt-6 text-3xl font-bold tracking-tight text-center text-gray-900">Check your email.</h2>
        <h5 class="text-sm text-center text-gray-900">
          Or go <a href="/" class="btn-link">back</a>
        </h5>
      </div>
    </div>
  </div>
{% endblock content %}
{%- endraw %}
