{% extends "base.html" %}
{% block content %}
    <header class="flex justify-between px-4 sm:px-6 lg:px-8 max-w-7xl mt-4 items-center">
        <span class="text-indigo-600 font-semibold text-xl">Project</span>
        <nav class="flex gap-x-5 md:gap-x-11 text-sm font-semibold leading-6 text-gray-700">
            <a href="{% url 'app:dashboard' %}">Dashboard</a>
            <a href="#">FAQs</a>
        </nav>
        <a href="{% url 'app:settings' %}" class="-m-1.5 p-1.5 text-gray-600">
            <span class="sr-only">Your profile</span>
            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 class="w-8 h-8">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>
        </a>
    </header>
    <main>
        <div class="relative isolate overflow-hidden pt-16">
            {% block content_app %}
            {% endblock content_app %}
        </div>
    </main>
{% endblock content %}
